.sg {
  padding: 50px 0 50px;
  background: var(--background-color);
}
.sg__container::before {
  content: "";
  display: block;
  width: 100%;
  height: 16px;
  background-image: url("../../assets/images/qepja_negative.svg");
  background-repeat: repeat-x;
  background-size: auto 16px;
  background-position: center;
  margin-bottom: 24px;
}
.sg__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.sg__title {
  margin: 0;
  font-style: var(--font-style);
  font-family: var(--font-family);
  font-size: 48px;
  color: var(--text-dark);
}
.sg__subtitle {
  margin: 0;
  font-style: var(--font-style);
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--text-dark);
}
.sg__header-content {
  display: flex;
  gap: 40px;
}
.sg__more {
  color: var(--brand-burgundy);
  border: 1px solid var(--brand-burgundy);
  background: transparent;
}

.sg__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a b d"
    "a c d";
  gap: 14px;
}
.sg__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  min-height: 160px;
}
.sg__a {
  grid-area: a;
  min-height: 430px;
}
.sg__b {
  grid-area: b;
}
.sg__c {
  grid-area: c;
}
.sg__d {
  grid-area: d;
  min-height: 430px;
}

.sg__cta {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
  background: var(--brand-burgundy);
  color: var(--brand-beige);
  padding: 30px 60px;
  border-radius: 12px;
}
.sg__cta-title {
  font-style: var(--font-style);
  font-family: var(--font-family);
  font-size: 48px;
  color: var(--background-color);
  font-weight: 600;
}
.sg__cta-subtitle {
  font-size: 20px;
  color: var(--background-color);
  font-style: var(--font-style);
  font-family: var(--font-family);
  margin: 0;
  font-weight: 400;
}
.sg__cta-btn {
  color: var(--background-color);
  border: 1px solid var(--background-color);
}

@media (max-width: 768px) {
  .sg {
    padding: 20px 0 20px;
  }
  .sg__container::before {
    background-size: auto 15px;
    height: 14px;
    margin-bottom: 20px;
  }
  .sg__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a a"
      "b c"
      "d d";
  }
  .sg__a,
  .sg__d {
    max-height: 300px;
  }
  .sg__title {
    font-size: 28px;
  }
  .sg__subtitle {
    font-size: 14px;
  }
  .sg__header-content {
    gap: 6px;
    flex-direction: column;
  }
  .sg__cta {
    gap: 6px;
    padding: 24px 16px;
  }
  .sg__cta-title {
    font-size: 28px;
  }
  .sg__cta-subtitle {
    font-size: 16px;
  }
  .sg__more {
    padding: 5px 18px !important;
    font-size: 16px;
  }
  .sg__more-icon {
    width: 30px !important;
  }
}
